@layer components {

  /* ===== BASE ===== */
  .input {
    @apply flex w-full h-14 rounded-2xl border p-4
     focus-visible:ring-[#3e9392]
     focus-visible:ring-3
     focus-visible:ring-offset-2
     focus-visible:outline-none;
  }

  .input[type="password"] {
    @apply pr-12;
  }

  /* ===== VARIANTS ===== */
  .input-primary-green {
    @apply bg-[#FEF9C3] border-[#CBD5E1] text-[#111827];
  }

  .input-primary-green:focus-visible {
    @apply ring-[#696CFF] ring-3 ring-offset-2 outline-none;
  }

  /* ===== SIZES ===== */
  .input-sm {
    @apply h-8 text-sm;
  }

  .input-md {
    @apply h-10 text-sm;
  }

  .input-lg {
    @apply h-12 text-base;
  }

  .input-xl {
    @apply h-14 text-base;
  }
}