/* 
  L - Lightness - Quão claro/escuro (0% a 100%)
  C - Chroma - Intensidade da cor (0 = cinza)
  H - Hue - Qual cor é (0–360)
*/

@theme {

  /* Light (default) */
  --color-funcional: var(--color-primary);

  /* ===== GLOBAL ===== */
  --color-background: var(--color-bg);
  --color-foreground: var(--color-text);

  /* ===== PRIMARY ===== */
  --color-primary-green: var(--color-primary);
  --color-primary-green-foreground: var(--color-surface);
  --color-primary-green-hover: #525BFF;

  /* ===== DESTRUCTIVE ===== */
  --color-destructive: var(--color-danger);
  --color-destructive-foreground: #ffffff;
  --color-destructive-hover: #E53935;

  /* ===== LINK ===== */
  --color-link: var(--color-primary);
  --color-link-hover: #525BFF;
}

/* DARK MODE */
.dark {
  --color-funcional: var(--color-primary);
   /* ===== GLOBAL ===== */
  --color-background: var(--color-dark);
  --color-foreground: #ffffff;

  /* ===== PRIMARY ===== */
  --color-primary-green: #4D52D7;
  --color-primary-green-foreground: #ffffff;
  --color-primary-green-hover: #5B63F9;
  
  /* ===== DESTRUCTIVE ===== */
  --color-destructive: #E53935;
  --color-destructive-hover: #D32F2F;
  --color-destructive-foreground: #ffffff;

  /* ===== LINK ===== */
  --color-link: #9EA6FF;
  --color-link-hover: #ffffff;
}
